*{
    margin: 0px;
    box-sizing: border-box;
    font-family: "Roboto Mono", monospace;
}
body{
    background-color: rgb(184, 230, 200);
    color: #555454;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 8%;
    background: white;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    position: fixed;
    width: 100%;
    top: 0px;
    z-index: 1;
}
.brand{
    text-decoration: none;
    font-size: 30px;
    font-weight: 600;
    color:  rgb(48, 117, 73);
}
#check{
    display: none;
}
.icons{
    font-size: 30px;
    cursor: pointer;
    position: absolute;
    right: 5%;
    display: none;
}
.navlinks{
    list-style: none;
    display: flex;
    gap: 20px;
}
.limk{
    text-decoration: none;
    color: rgb(48, 117, 73);
    font-size: 20px;
    font-weight: 600;
    transition: 0.4s;
}
.limk:hover{
    color: rgb(5, 55, 12);
}
.hero{
    display: flex;
    padding: 160px 8%;
    justify-content: space-between;
    gap: 40px;
    align-items: center;
}
.heroText{
    flex: 1;
    animation: fadeIn 1.5s ease;
}
#heroTitle{
    font-size: 48px;
    margin-bottom: 20px;
}
#heroPara{
    margin-bottom: 20px;
    line-height: 1.6;

}
.heroButton{
    padding: 12px 25px;
    border: none;
    background-color:rgb(48, 117, 73);
    color: white;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s;
}
.heroButton:hover{
    background-color: white;
    color: #e4b27b;
    transform: scale(1.05);
}
.heroImgext{
    flex: 1;
}
#FurnitureImage{
    width: 100%;
    border-radius: 15px;
}
/* products */
.products{
    padding: 0px 8%;
    text-align: center;
}
.productHead{
    font-size: 35px;
    margin-bottom: 40px;
}
.productcontainer{
    display: flex;
    gap: 25px;
    justify-content: center;
    flex-wrap: wrap;
}
.card{
    background-color: ;
    width: ;
    padding: ;
    border-radius: 20px;
    box-shadow: white;
    transition: 0.8s;
}
.card:hover{
   transform: translateY(-10px);
}
.cardImg{
  width: 100%;
  height: 220px;
  border-radius: 10px;
  object-fit: cover;
}
.productName{
    margin: 10px 0px;
}
.price{
    margin: 15px 0px;
    color: rgba(0,0,0,0.1);
}
.productButton{
    padding: 12px 25px;
    border: none;
    background-color: rgb(48, 117, 73);
    color: white;
    border-radius: 15px;
    cursor: pointer;
    transition: 0.3s;
}
.banner{
    padding: 20px 8% 60px 8%;
    margin: 20px 40px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: url(./image/rrrr.png);
    background-size: cover;
    background-position: ;
    border-radius: 20px;
    background-attachment: fixed;
}
.bannerHead{
    font-size: 35px;
    margin-bottom: 40px;
    color: white;
}
.bannerPara{
     font-size: 20px;
    margin-bottom: 40px;
    line-height: 1.2;
    color: white;
}
.bannerButton{
    font-weight: 500;
    font-size: 18px;
    background-color: rgb(5, 55, 12);
}
.content{
    height: 200px;
    background-color: white;
    box-shadow: 0px 2px 10px rgba(0,0,0,0.1);
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    
}
.contentHead,.subscribeHead{
    font-size: 25px;
    margin-bottom: 20px;
    color: ;
}
.contentph,.contentPara{
    font-size: 16px;
    font-weight: 300;
}
.snLink{
    color: rgb(190, 189, 189);
    margin-right: 10px;
}

.contentIcons{

}
.subInput{

}
.subButton{

}
.footer{
    padding: 20px;
    background-color: aquamarine;
    color: black;
    text-align: center;
}
html{
    scroll-behavior: ;
}
/* animation */
@keyframes fadeIn{
    0%{
        opacity: 0;
        transform: translateY(30px);
    }
    100%{
        opacity: 1;
        transform: translateY(0)
    }
}
.do{
    text-align: center;
    font-size: 14px;
    padding: 20px;
}

/* responsive  */
@media (max-width:768px)
{
    .navbar{
        padding: 20px 5%;
    }
    .icons{
        display: flex;
    }
    #cancelicon{
        display: none;
    }
    #check:checked~.icons #menuicon{
        display: none;
    }
     #check:checked~.icons #cancelicon{
        display: block;
     }
    .navlinks{
        position: absolute;
        top: 100%;
        width: 100%;
        left: 0px;
        flex-direction: column;
        background-color: rgba(237, 237, 220, 0.481);
        backdrop-filter: blur(10px);
        height: 0px;
        display: none;
    }
    #check:checked~.navlinks{
        display: block;
        height: fit-content;
    }
    .limks{
        text-align: center;
        margin: 5px 0px;
    }
    .hero{
        flex-direction: column;
        text-align: center;
    }
    #herotitle{
        font-size: 35px;
    }
    .banner,.content{
        height: fit-content;
        padding: 40px 8%;

    }
}